#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# Go to a project folder. If no args, goes to ~/projects
# If an arg supplied, goes to ~/projects/<arg>
function p {
  cd ~/projects/$1
}

function show-repo {
    git remote -v | grep origin | awk ' { print $2 }' | uniq | tr ':' '/' | sed "s|git\@|https://|"
}

# Open a repo
function repo {
    show-repo | xargs open
}

# Adds npm bin to your path, so you can run local npm deps
# as if they're installed globally.
function npm-do {
  (PATH=$(npm bin):$PATH; eval $@;)
}
